version: 2
jobs:
  build:
    docker:
      - image: textile/circleci:0.4.16-dev
      - image: mongo:3.4.10
    working_directory: /go/src/github.com/textileio/textile-go
    steps:
      - checkout
      - run: dep ensure
      - run:
          name: install textile
          command: |
            go build -i -o textile textile.go
            mv textile $GOPATH/bin/
      - run:
          name: run and test all
          command: |
            textile -d -n -g=127.0.0.1:8080 --cafe-bind-addr=0.0.0.0:8000 --cafe-token-secret=swarmmmmm --cafe-referral-key=woohoo! --cafe-db-hosts=0.0.0.0:27017 --cafe-db-name=textile_db
            sleep 5
            ./test_compile.sh
          environment:
            # cafe client settings
            CAFE_ADDR: http://0.0.0.0:8000
            CAFE_DB_HOSTS: 0.0.0.0:27017
            CAFE_DB_NAME: textile_db
            CAFE_REFERRAL_KEY: woohoo!
      - run: go get -u github.com/asticode/go-astilectron-bundler/...
      - run: make build_desktop
