* {
    box-sizing:  border-box;
}

html, body {
    background-color: #fff;
    color: #333;
    height: 100%;
    margin: 0;
    width: 100%;
}

.gallery {
    float: right;
    height: 100%;
    overflow: auto;
    padding: 15px;
    width: 60%;
}

.title {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
}

#message, #path {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
}

img.thumb {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}
