@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing:  border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    color: #2e364e;
}

body {
    background: url(../img/background.svg) no-repeat 50% 20%;
    background-size: cover;
}

body i {
    font-family: 'FontAwesome', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

h1 {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    font-weight: 700;
    font-size: 2.441rem;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.953rem;
    letter-spacing: 1px;
    line-height: 1.5em;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.563rem;
    letter-spacing: 0.68px;
    line-height: 1.5em;
    font-weight: 500;
}

h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.53px;
    line-height: 1.5em;
    font-weight: 400;
}

h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 2em;
    font-weight: 400;
}

p, label {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: 400;
}

.hidden {
    display: none;
}

.view {
    position: absolute;
    width: 256px;
    height: 256px;
    top: 50%;
    left: 50%;
    margin: -128px 0 0 -128px;
}

.view .title {
    width: 256px;
    text-align: center;
}

.view .description {
    width: 256px;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 2em;
    font-weight: 200;
    padding: 10px 0 30px;
    text-align: center;
}

.launch .logo {
    margin: 64px;
    width: 128px;
    height: 128px;
}
.warmup .loading,
.main .logo {
    margin: 32px 64px;
    width: 128px;
    height: 128px;
}

.content .button {
    width: 256px;
    height: 58px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #F7F7F7;
    background: #2935FF;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
}
.content .button.reject {
    color: #F7F7F7;
    background: #FF1C3F;
}

.qr-code {
    margin: 12px 35px;
    width: 186px;
    height: 186px;
}
.target_dir {
    width: 256px;
    font-family: 'Rubik', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 2em;
    font-weight: 100;
    text-align: center;
}
.warning {
    width: 256px;
    font-family: 'Rubik', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 2em;
    font-weight: 100;
    text-align: center;
}
.address {
    position: fixed;
    bottom: 2em;
    font-size: 0.6rem;
    width: 100%;
    text-align: center;
}
