@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url(../font/Rubik-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing:  border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    color: #2e364e;
}

body {
    background: url(../img/background.svg) no-repeat 50% 20%;
    background-size: cover;
}

body i {
    font-family: 'FontAwesome', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

h1 {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    font-weight: 700;
    font-size: 2.441rem;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.953rem;
    letter-spacing: 1px;
    line-height: 1.5em;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.563rem;
    letter-spacing: 0.68px;
    line-height: 1.5em;
    font-weight: 500;
}

h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.53px;
    line-height: 1.5em;
    font-weight: 400;
}

h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 2em;
    font-weight: 400;
}

p, label {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: 400;
}

.hidden {
    display: none;
}

.setup {
    position: relative;
    height: 100%;
}

.setup .logo {
    width: 256px;
    height: 256px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -128px 0 0 -128px;
}

.setup .qr-code {
    width: 256px;
    height: 256px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -128px 0 0 -128px;
}

.setup .address {
    position: fixed;
    bottom: 2em;
    font-size: 0.6rem;
    width: 100%;
    text-align: center;
}

.main {
    position: relative;
    height: 100%;
}

.titlebar {
    position: absolute;
    width: 100%;
    height: 32px;
    -webkit-app-region: drag;
}

.title-buttons {}

.title-button {
    position: absolute;
    right: 0;
    z-index: 10001;
    border: none;
    margin: 0;
    padding: 12px;
    height: initial;
    line-height: 14px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.5;
}

.title-button:hover {
    opacity: 0.75;
}

.title-button.rotate {
    transform: rotate(720deg);
    transition: transform 500ms ease-out;
    transform-origin: 47% 50%;
    transform-style: preserve-3D;
}

.sidebar {
    float: left;
    width: 224px;
    height: 100%;
    padding: 36px 0;
    border-right: 1px solid rgba(203,216,229,0.6);
    color: #2e364e;
}

.sidebar li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.sidebar h4 {
    padding: 0 14px;
}

ul.threads {
    list-style: none;
    margin: 0.6rem 0 0 0;
}

li.thread {
    padding: 0 18px;
    margin: 0;
    cursor: pointer;
    color: #828695;
    background: transparent;
}

li.thread:hover {
    background: rgba(203,216,229,0.6);
}

li.thread:active, li.thread.active {
    background: #2524ff;
    color: white;
}

.content {
    position: relative;
    margin-left: 224px;
    height: 100%;
    display: grid;
}

.content .message {
    margin: auto;
}

.grid {
    padding: 8px 16px 0;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    width: 176px;
    height: 176px;
    font-size: 0;
    opacity: 0;
}

.is-showing-items .grid-item {
    opacity: 1;
}

.grid-item img,
.grid-item--width2 img,
.grid-item--height2 img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.grid-item--width2 { width: 352px; }
.grid-item--height2 { height: 352px; }
