* {
    box-sizing:  border-box;
}

.hidden {
    display: none;
}

.row {
    margin-top: 2em;
    text-align: center;
    color: #2935FF;
}

.row button {
    color: #2935FF;
    border: 1px solid #2935FF;
}

#left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 100%;
    background-color: #2935FF;
}

.grid {
    margin-top: 50px;
    margin-left: 150px;
}

.section {
    padding-top: 75px;
}

html, body {
    font-family: 'biotifregular', Arial, sans-serif;
    color: #2935FF;
    height: 100%;
    margin: 0;
    width: 100%;
    display: grid;
    overflow-x: hidden;
    background: white url("../img/back-01.png") repeat;
}

h1 {
    font-size: 3.0rem;
    font-weight: 600;
    padding-left: 18px;
}

h2 {
    margin: 1.8em 0 0;
    font-size: 1.5em;
    font-weight: normal;
    padding-left: 18px;
}

h2 span {
    font-weight: normal;
    font-family: 'biotifbold', Arial, sans-serif;
}

#logo {
    position: absolute;
    left: 120px;
}

#logo img {
    margin-left: -98px;
    pointer-events: none;
}

#intro {
    z-index: 1;
    margin-left: 30%;
    margin-top: 100px;
}

#intro i {
    color: #2935FF;
    font-size: 1.5em;
}

.container {
    margin-top: 50px;
    margin-left: 10%;
}


.onboarding {
    /*margin-top: 50px;*/
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.onboarding .screen .container {
    vertical-align: middle;
}

.onboarding .screen .container .qr-code {
    max-width: 250px;
    max-height: 250px;
}

.wait {
    color: #aaa;
}

.grid {
    padding: 20px;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    width: 224px;
    height: 224px;
    font-size: 0;
    opacity: 0;
}

.is-showing-items .grid-item {
    opacity: 1;
}

.grid-item img,
.grid-item--width2 img,
.grid-item--height2 img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

.grid-item--width2 { width: 448px; }
.grid-item--height2 { height: 448px; }
