<html>
    <head>
        <title>DAG-nammit.</title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="aligner">
            <div class="aligner-item">404</div>
        </div>
	</body>
</html>
